.app-header {
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 2px;
    background: var(--common-background) !important;
  
    &--title {
      font-size: 18px;
      font-weight: 500;
    }
  
    &--left {
      display: inline;
      .table-title {
              font-size: 16px;
              font-weight: 500;
          }
          .hidden-logo{
          display: none;
          }
    }
    &-dropdown-menu {
      overflow-y: scroll;
      max-height: 490px;
    }
  
    &--right {
      .avatar {
        cursor: pointer;
        position: relative;
        top: -2px;
      }
  
      .ant-divider {
        margin: 0px 6px;
      }
  
      .icon-notifi {
        position: relative;
        display: inline;
        cursor: pointer;
  
        .fix-icon {
          top: 0px;
          right: 0px;
          background-color: red;
          padding: 4px;
          border-radius: 50%;
          position: absolute;
        }
      }
    }
  }
  
  @media screen and (max-width: 1023px) {
    .app-header {
      &--title {
        margin-left: 50px;
      }
    }
  }
  
  @media screen and (max-width: 576px) {
    .app-header {
    }
  }
  
  
  